@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.calendar{
    width: 350px;
    background-color: #fff;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    box-shadow: 0 10px 29px -7px rgba(63,63,63,0.48);
}

.calendar-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calendar-header button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.calendar-body{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.calendar-day{
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px;
    margin: 5px;
    text-align: center;
    cursor: pointer;
}

.calendar-day:hover{
    background-color: #ddd !important;
    transition: background-color 0.3s ease;
}

.calendar-day.selected{
    border: 1px solid #003879d0;
    background-color: rgba(70,201,240);
}

.calendar-day.range{
    border: 1px solid #007900d0;
    background-color: rgba(86,238,86);
}

#prevBtn, #nextBtn{
    width: 40px;
    height: 40px;
    padding: 10px;
    margin: 0 10px 0 10px;
    border-radius: 50%;
    background-color: #fff;
}

#prevBtn:hover{
    background-color: #ddd !important;
    transition: background-color 0.3s ease;
}

#nextBtn:hover{
    background-color: #ddd !important;
    transition: background-color 0.3s ease;
}

#selectedDates{
    font-family: 'Poppins';
}

#currentMonth{
    font-family: 'Poppins';
    font-size: 18px;
}
